window.bar {
	background-color: rgba(0,0,0, .15);
}

.bg {
	/* background-color: rgba(20,20,20,.90); */
	border-radius: 10px;
    margin: 10px;
	background-color: rgba(0,0,0, .5);
}

.bg-black {
	/* background-color: rgba(0,0,0, .80); */
	border-radius: 10px;
}

.bg-blue {
	background-color: #102D3F;
	border-radius: 10px;
}

.padding {
    padding: 8px;
}

.margin {
    margin: 4px;
}

.bar {
	margin: 4px;
}

* {
    font-size: 12px;
    text-shadow: 0 0 2px rgba(0,0,0, .75);
}

.brightness {
    /* background-color: black; */
}

.client-title {
    /* text-shadow: 0 0 2px rgba(0,0,0, .75); */
    font-weight: bolder;
}

button, .button {
    background-clip: padding-box;
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 6px;
    background-color: transparent;
    border-bottom: 1px solid transparent;

    /* text-shadow: 0 0 2px rgba(0,0,0, .75); */
}

.mic {
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 6px;
    /* text-shadow: 0 0 2px rgba(0,0,0, .75); */
}
.wifi {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bolder;
    /* text-shadow: 0 0 2px rgba(0,0,0, .75); */
}

.square-button {
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 9px;
    /* text-shadow: 0 0 2px rgba(0,0,0, .75); */
}

.workspace-button {
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 0px;
}

button:active {
    /* background-color: @theme_selected_bg_color; */
    background-color: transparent;
}

button:hover {
    border: 1px solid grey;
}


.workspaces button.focused {
    /* border-bottom: 1px solid @theme_selected_bg_color; */
}

.client-title {
    /* color: @theme_selected_bg_color; */
}

.top {
	background-color: transparent;
}

slider {
	min-height: 5px;
	min-width: 5px;
	margin: -7px;
}


progress {
	background-color: transparent;
}

.menu {
	background-color: transparent;
	border: none;
	border-radius: 10px;
}

.title {
	padding: 2px 2px 0px 8px;	
}

/* Notifications */
window.notification_notification-popups box.notification_notifications {
    padding: .5em;
}

.notification_icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.notification_icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.notification_icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification_notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @wm_borders_edge;
    background-color: @theme_bg_color;
}

.notification_notification.critical {
    border: 1px solid lightcoral;
}

.notification_title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.notification_body {
    color: @theme_unfocused_fg_color;
}

.notification_actions .notification_action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.notification_actions .notification_action-button:first-child {
    margin-left: 0;
}

.notification_actions .notification_action-button:last-child {
    margin-right: 0;
}